html, body {
  margin: 0;
  height: 100%;
  font-size: 100%;
}

* {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* --- TOP NAV --- */
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #FFF;
  padding: 1em;
  flex-wrap: wrap;
}

.top-left {
  display: flex;
  align-items: center;
}

.name {
  font-weight: bold;
  font-size: 1.2em;
  white-space: nowrap;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

section a {
  text-decoration: none;
  color: white;
}

.menu a:hover,
a.current {
  text-decoration: underline;
}

/* --- ARTICLE --- */
article {
  padding: 0 1em;
}

article h2 {
  font-size: 1.25em;
}

article p {
  font-size: 1em;
}

article img {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 760px;
}

/* --- FOOTER --- */
footer {
  border-top: 2px solid #f46b45;
  text-align: center;
  font-size: .8em;
}

/* --- RESPONSIVE --- */
@media (max-width: 700px) {
  .menu {
    flex-direction: column;
    width: 100%;
    padding-top: 1em;
    gap: 10px;
  }

  .menu > li {
    text-align: center;
    margin: 0;
  }

  article h2 {
    font-size: 1.1em;
  }

  article p {
    font-size: .8em;
  }

  footer {
    border-top: 1px solid #f46b45;
    text-align: center;
    font-size: .6em;
  }
}

/* --- Hidden heading --- */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
