/* Background Gradient for the Page */
html {
    background-image: linear-gradient(to bottom, white 0%, #facd8a 100%);
}

/* Body Styling */
body {
    width: 1000px;
    background-color: white;
    margin: 15px auto; /* Centers the page */
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
    background-position: right;
    background-repeat: repeat-y;
    background-attachment: fixed;
}

/* Styling for Headings */
h3 {
    margin: 3em 2em 1.5em 2em;
    border: 5px double blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: 1em;
}

/* Navigation Bar Styling */
nav {
    margin: 1.5em 2em 1.5em 2em;
    border: 5px dashed blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: 0.5em;
}

/* Contact Section Styling */
.contact {
    margin: 1.5em 2em 0 2em;
    border: 5px dotted blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px red;
    padding: 1em;
}

/* Image Alignment */
img {
    margin-left: 2em; /* Aligns with h3, nav, and contact div */
}
